*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
   margin-top: 1.5rem ;
   position: fixed;
   top: 0;
   width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
    /* padding: 0 5rem; */
}
nav ul li{
    padding: 0 1rem;
}


.Content{
    /* background-image: url('../../public/Tesla Image/model-3.jpg'); */
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.Content .carName{
    margin-top:7rem ;
    text-align: center;
}
.Content .carName h1 {
    font-size: 3rem;
}
.Content .cta{
    margin-bottom:2rem;
}
.Content .cta a:nth-of-type(1){
    text-decoration: none;
 
    padding: 1rem 3rem;
    background-color: rgba(0,0,0,0.5);
    margin-right: 1rem;
    border-radius: 3rem;
    color: #fff;
}
.Content .cta a:nth-of-type(2){
    text-decoration: none;
    color: #000;
    padding: 1rem 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    margin-right: 1rem;
    border-radius: 3rem;
  
}
.arrow{
    text-align: center;
}
.arrow img{
    width: 60px;
 
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    padding: 3rem 2rem ;
    background-color: #fff;
    list-style: none;
    /* position: relative; */

}
.sidebar li{

    padding: 0.5rem 0;
}
.sidebar a{
    padding: 1rem 0;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.kuchnhi{
    position: absolute;
    margin-right: 1rem;
    font-size: 400px;
    margin-top: 1rem;
    top: 0;
   right: 0;
   cursor: pointer;
}